USE [master]
GO
/****** Object:  Database [Gehirnjogging]    Script Date: 29.05.2019 15:12:48 ******/
CREATE DATABASE [Gehirnjogging]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gehirnjogging', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Gehirnjogging.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gehirnjogging_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Gehirnjogging_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gehirnjogging].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gehirnjogging]
GO
/****** Object:  Table [dbo].[Charakters]    Script Date: 29.05.2019 15:12:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charakters](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[HP] [int] NULL,
	[Damage] [int] NULL,
	[Luck] [int] NULL,
	[Stage] [int] NULL,
	[SolveTime] [int] NULL,
	[Assets] [int] NULL,
 CONSTRAINT [PK_Charakters] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enemies]    Script Date: 29.05.2019 15:12:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enemies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Damage] [int] NULL,
	[HP] [int] NULL,
	[XP] [int] NULL,
	[Coins] [int] NULL,
 CONSTRAINT [PK_Enemies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventars]    Script Date: 29.05.2019 15:12:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventars](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[CharakterID] [int] NOT NULL,
 CONSTRAINT [PK_Inventars] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 29.05.2019 15:12:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[TypeID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[SellingPrice] [int] NOT NULL,
	[minStage] [int] NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Levelinfos]    Script Date: 29.05.2019 15:12:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Levelinfos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LevelID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[EnemyID] [int] NOT NULL,
 CONSTRAINT [PK_Levelinfos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Levels]    Script Date: 29.05.2019 15:12:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Levels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ThreeStarTime] [int] NOT NULL,
	[TwoStarTime] [int] NOT NULL,
	[OneStarTime] [int] NOT NULL,
 CONSTRAINT [PK_Levels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassedLevels]    Script Date: 29.05.2019 15:12:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassedLevels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SavegameID] [int] NOT NULL,
	[Time] [int] NOT NULL,
	[LevelID] [int] NOT NULL,
 CONSTRAINT [PK_PassedLevels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 29.05.2019 15:12:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Questions] [nvarchar](max) NOT NULL,
	[Answer] [int] NOT NULL,
	[Difficulty] [int] NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Savegames]    Script Date: 29.05.2019 15:12:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Savegames](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CharakterID] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Savegames] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 29.05.2019 15:12:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Types] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inventars]  WITH CHECK ADD  CONSTRAINT [FK_InventarCharakter] FOREIGN KEY([CharakterID])
REFERENCES [dbo].[Charakters] ([ID])
GO
ALTER TABLE [dbo].[Inventars] CHECK CONSTRAINT [FK_InventarCharakter]
GO
ALTER TABLE [dbo].[Inventars]  WITH CHECK ADD  CONSTRAINT [FK_InventarItem] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
GO
ALTER TABLE [dbo].[Inventars] CHECK CONSTRAINT [FK_InventarItem]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_TypeItem] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Types] ([ID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_TypeItem]
GO
ALTER TABLE [dbo].[Levelinfos]  WITH CHECK ADD  CONSTRAINT [FK_EnemyLevelinfos] FOREIGN KEY([EnemyID])
REFERENCES [dbo].[Enemies] ([ID])
GO
ALTER TABLE [dbo].[Levelinfos] CHECK CONSTRAINT [FK_EnemyLevelinfos]
GO
ALTER TABLE [dbo].[Levelinfos]  WITH CHECK ADD  CONSTRAINT [FK_LevelinfosQuestion] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([ID])
GO
ALTER TABLE [dbo].[Levelinfos] CHECK CONSTRAINT [FK_LevelinfosQuestion]
GO
ALTER TABLE [dbo].[Levelinfos]  WITH CHECK ADD  CONSTRAINT [FK_LevelLevelinfos] FOREIGN KEY([LevelID])
REFERENCES [dbo].[Levels] ([ID])
GO
ALTER TABLE [dbo].[Levelinfos] CHECK CONSTRAINT [FK_LevelLevelinfos]
GO
ALTER TABLE [dbo].[PassedLevels]  WITH CHECK ADD  CONSTRAINT [FK_FinishedLevelSavegame] FOREIGN KEY([SavegameID])
REFERENCES [dbo].[Savegames] ([ID])
GO
ALTER TABLE [dbo].[PassedLevels] CHECK CONSTRAINT [FK_FinishedLevelSavegame]
GO
ALTER TABLE [dbo].[PassedLevels]  WITH CHECK ADD  CONSTRAINT [FK_PassedLevelLevel] FOREIGN KEY([LevelID])
REFERENCES [dbo].[Levels] ([ID])
GO
ALTER TABLE [dbo].[PassedLevels] CHECK CONSTRAINT [FK_PassedLevelLevel]
GO
ALTER TABLE [dbo].[Savegames]  WITH CHECK ADD  CONSTRAINT [FK_SavegameCharakter] FOREIGN KEY([CharakterID])
REFERENCES [dbo].[Charakters] ([ID])
GO
ALTER TABLE [dbo].[Savegames] CHECK CONSTRAINT [FK_SavegameCharakter]
GO
USE [master]
GO
